*{
  box-sizing: border-box;
}

.posts-container {
   width: 100%;
   height: auto;
   background-color: #282c34;
   display: flex;
   flex-wrap: wrap;
   padding: 2rem;
   border-radius: 10px;
  }

  .posts-container-2 {
    width: 100%;
    height: auto;
    background-color: #282c34;
    margin: 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    border: 1.5px solid red;
    border-radius: 10px;
    margin-top: 5rem;
   }

  .card {
   width: 100%;
   height: auto;
   background-color: rgb(85, 85, 91);
   margin: 1rem 5rem;
   display: flex;
   flex-wrap: wrap;
   color: whitesmoke;
   border-radius: 10px;
   padding: 10px;
 
  }

  .card-header {
   /* min-width: 100%; */
   background-color: rgb(85, 85, 91);
   display: flex;
   flex-wrap: wrap;
  }

  .title-name {
   /* width: 100%; */
   display: flex;
   justify-content: left;
   align-items: center;
   background-color: rgb(85, 85, 91);
   padding: 5px;
   font-size: 15px;
  }

  .title-name p {
    font-size: 1.5rem;
  }

  .subreddit-name {
   color: red;
   font-size: medium;
   
  }

  .post-info {
    width: 100%;
    height: auto;
    background-color: rgb(85, 85, 91);
    border-radius: 10px;
    padding: 1em;
    color: #282c34;
    font-size: 1.1rem;
  }

 img {
   max-width: 100%;
   max-height: 100%;
   display: block;
   border-radius: 10px;
 }

article {
  width: 100%;
}
 .scoreboard-container { 
  display: flex;
  width: 100%;
  flex-wrap: wrap;
 }

 .score {
   width: 100%;
   display: flex;
 }

 button {
   color: red;
   background-color: #282c34;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   padding:3px;
   border-radius: 5px;
 }
 button:hover {
   color: white;
 }

 .score-comment {
   display: flex;
   flex-wrap: wrap;
   justify-content: left;
   background-color: rgb(85, 85, 91);
   align-items: center;
   margin-right: auto;
 }

 .comment-button {
  background-color: #282c34;
  display: flex;
  
 }