*{
  box-sizing: border-box;
  width: 100%;
}
.App {
  display: flex;
  
}

main {  
  background-color: rgb(85, 85, 91);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  zoom: 50%;
} 