.Search-Bar {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
}

input {
    height: 2.5em;
    width: 20em;
    border-radius: 10px;
    margin: 5px;
    font-size: 1rem;
    padding-left: 10px;
}



.Search-icon {
    color: red;
    background-color: #282c34;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Search-button {
    background-color: #282c34;
    font-size: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}