.Search-Bar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5em;
}

#search-form {
    display: flex;
    justify-content: center;
}

input {
    height: 3em;
    width: 20em;
    border-radius: 10px;
    margin: 5px;
    padding-top: 10px;
    font-size: 1rem;
    padding-left: 10px;
}

::-webkit-input-placeholder {
    font-size: 1.5em;
    color: #282c34;
}

.Search-icon {
    color: red;
    background-color: c;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Search-button {
    width: auto;
    background-color: #282c34;
    font-size: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

button:hover {
    color: white;
  }