*{
    box-sizing: border-box;
  }

.subreddit-container {
    width: 30%;
    background-color: rgb(85, 85, 91);
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-right: 2rem;
}

.subreddit-users {
    width: 100%;
    height: auto;
    margin: 2rem 1rem;
    background-color: #282c34;
    border: 1.5px solid red;
    padding: 15px;
    border-radius: 10px;
}