.subreddit-container {
    width: 100%;
    height: auto;
    background-color: rgb(11, 11, 237);
    display: flex;
    flex-wrap: wrap;
}

.subreddit-users {
    width: 100%;
    height: auto;
    margin: 30px;
    background-color: rgb(9, 215, 102);
    border: 2px solid red;
    padding: 15px;
    border-radius: 10px;
}