.replies-container {
    width: 90%;
    height: fit-content;
    display: flex;
    background-color: #054f9d;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 5px 5px 10px 0px rgb(145, 14, 14);
}

.reddit-id {
    color:rgb(100, 14, 14);
    font-weight: 700;
    font-size: 2rem;

}

.replies {
    color: whitesmoke;
}