.replies-container {
    width: 100%;
    height: auto;
    background-color: rgb(188, 39, 39);
    margin: 2rem;
    padding: 1rem;
    box-shadow: 5px 5px 10px 0px rgb(208, 215, 227);
}

.reddit-id {
    color: #282c34;

}

.replies {
    color: whitesmoke;
}