.replies-container {
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgb(145, 14, 14);
    margin: 2rem;
    padding: 1rem;
    box-shadow: 5px 5px 10px 0px #054f9d;
}

.reddit-id {
    color:#064282;
    font-weight: 700;
    font-size: 2rem;

}

.replies {
    color: whitesmoke;
}